*{
  margin: 0;
}

.App {
  background-color: #111;
  color: white;
  padding-bottom: 40px;
}

h1{
  margin: 29px 0;
}

::-webkit-scrollbar{
  background-color: #111;
  width: 6px;
}


::-webkit-scrollbar-thumb {
  background: rgba(104, 104, 104, 0.801);
  border-radius: 10px;
}